<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../asstes/css/app.css">
    <link rel="stylesheet" type="text/css" href="../asstes/css/common.css">
    <link rel="stylesheet" type="text/css" href="../asstes/css/doc.css">
</head>
<body id="top" class="light-theme linux">
<div id="content_wrapper">
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="../index.html">文档</a></li>
                    <li class="active">{{ page.title }}</li>
                </ol>
                <h1>{{ page.title }}</h1>
                <div class="page">
                    <div class="toc--embedded">
                        __TOC__
                    </div>
                    {{ content }}
                </div>
            </main>
            <div class="col-sm-12">
                <div class="m-t-45 m-b-45">&emsp;</div>
                <div class="m-t-45 m-b-45">&emsp;</div>
                <div class="m-t-45 m-b-45">&emsp;</div>
            </div>
        </div>
    </div>
</div>
<div class="side__left" data-spy="affix">
    <a href="https://symfony.com/doc/4.4/index.html" target="_blank">英文版</a>
    <a href="#top">Top</a>
</div>
<script type="text/javascript" src="../asstes/js/runtime.js"></script>
<script type="text/javascript" src="../asstes/js/common.js"></script>
<script type="text/javascript" src="../asstes/js/doc.js"></script>
<script type="text/javascript" src="../asstes/js/modules.js"></script>
<script type="text/javascript" src="../asstes/js/app.js"></script>
</body>
</html>